.body{background-color: #374756}
.box {background-color: black;position:absolute;/*left:50%;margin-left: -250px;top:50%;margin-top: -250px;*/width: 500px;height:500px;left: calc(50% - 250px);top:calc(50% - 250px);}
.mini-box{width:20px;height: 250px;
		background-color: #af7a84;transition-property:all;transition-duration: 2s;float:left;transform:scale(1,1);

		animation:opacityToZero;animation-duration:2s;animation-fill-mode:forwards;animation-play-state:paused;
		}
.mini-box:hover{transform:rotate(180deg);background-color: black;transform:scale(0.5,0.5);animation-play-state: running;}
.mini-box1{width:20px;height: 250px;
		background-color: #a2905c;transition-property:all;transition-duration: 2s;float:left;animation:opacityToZero;
		animation-duration:2s;animation-fill-mode:forwards;animation-play-state:paused;}
.mini-box1:hover{transform:rotate(180deg);background-color: #a2905c;animation-play-state: running;}
@keyframes opacityToZero{0%{opacity:0;}100%{opacity:1;}
